@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300&display=swap');


body{
  font-family: 'Lato', sans-serif;
  background-color:#282121 ;
  overflow: hidden;
}
.bg-red{
  /* #f7656a;*/
  background-color:transparent;
  color: #fff;
}
.scroll{
  height:100%;
  overflow: auto ;
}
.cursor{
  cursor: pointer;
}

.active{
  color: green !important;
}
.title{
  border: 1px solid white;
}
.navbar{
  background-color: rgb(42, 92, 56);
  color: white !important;
}
.container{
  height:100%;
}


